.posts{
    width: 100%;
}

.post{
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 0;
    margin-top: 0;
    border-top: 1px solid #f6f6f6;
}


/* * User Block CSS */
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .5em;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
}

.user-img, .user-img img  {
    width: 2.5rem;
    height: 2.5rem;
}

.user-img img {
    padding: .075em;
    border: 2px solid  #e483a3;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.user-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: .5em;
    padding-top: 0;
    margin-top: 0;
}

.user-name {
    font-weight: 500;
}

.user-loc{
    font-size: .8rem;
}

.user i {
    margin-left: auto;
}
/* * User Block CSS */


/* ? Media CSS */

.media{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}
.heart, .media-img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    height: 50vh;
}
.heart{
    z-index: 2;
}

.media-img{
    margin-top: -50vh;
    z-index: 1;
}

.middle-heart {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
    transition: all ease 100ms;
}

.liked{
    color: rgb(190, 65, 125);
}

.pop-up{
    transform: scale(1);
    opacity: 0.75;
    color: #fff;
}

.pop-down{
    transform: translateY(10px) scale(.25);
    opacity: 0;
    color: #fff;
}

.media-img img, .heart i {
    width: 100%;
    height: 100%;
}

.media-img img{
    object-fit: cover;
    object-position: center;
}

/* ? Media CSS */

/* & Reaction Block */

.reaction-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
}

.bookmark {
    margin-left: auto;
}

/* & Reaction Block */

/* ^ Caption, Hashtags and Comments */

.reaction-info{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.caption{
    padding: .5em;
    margin-top: 0;
    font-size: .9rem;
    text-align: left;
    width: 100%;
}

.view-likes-btn, .view-comments-btn{
    background-color: #fff;
    border: none;
    font-size: .9rem;
    font-weight: 500;
    color: #565656;
    width: 100%;
    text-align: left;
    padding: 0em .5em 0em .5em;
}

.hashtags {
    padding: .5em;
    margin-top: 0;
    font-size: .9rem;
    text-align: left;
    width: 100%;
    color: rgb(1, 100, 187);
    font-weight: 500;
}

/* ^ Caption, Hashtags and Comments */