* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
    overflow: hidden;
}




/* * Screen CSS*/

.top-template{
    border-radius: 20px;
    width: 30vw; 
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid rgba(0, 0, 0, 0.856);
    box-shadow: 0px 0px 10px rgb(120, 120, 120);
}

.screen, .top-template {
    background-color: #fff;
    border-radius: 20px;
}

.screen{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    border-radius: 16px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}




.screen::-webkit-scrollbar, .top-template::-webkit-scrollbar {
    width: 0px;
}

/* * Screen CSS*/




/* ! navbar CSS */

.navbar {
    position: relative;
    width:100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #e7e7e7;
    background-color: #fff;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

/* * common icons sizing */
.navbar i, .likes_and_messages i, .reaction-block i, .user i{
    font-size: 25px;
    margin: .5em;
    cursor: pointer;
}

/* ! navbar CSS */





/* ^ top nav-bar CSS*/

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: auto;
    align-items: center;
    margin-bottom: 0;
    background-color: #fff;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
    margin:10px;
}

.likes_and_messages {
    margin:10px;
    margin-left: auto;
}

/* ^ top nav-bar CSS*/





/* & stories section */

.stories-bar{
    display: flex;
    overflow: scroll;
    gap:.2rem;
    margin-bottom: .5rem
}
.stories-bar .story{
    display: flex;
    flex-direction: column;
}
.stories-bar::-webkit-scrollbar {
    display: none;
    width: 0px;
}
.story{
    align-items: center;
    cursor: pointer;
}

.story-profile-name{
    margin-top: 0;
    color: #565656;
    font-size: .8rem;
    font-weight: 500;
}

.story-profile-img{
    margin: 10px;
    margin-bottom: 0;
    border: 2.5px solid #e483a3;
    border-radius: 50%;
    padding: .2em;
    width: 65px;
    height: 65px;
    object-fit: cover;
    object-position: center;
}

/* & stories section */


